<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- First Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="first-section">
                <h3 id="first-section-title">Advanced Analytics</h3>
            </div>
        </div>
    </div>

     <!-- First Section Description Cards -->
        <!-- First Section 1 info -->

    <div class="uk-child-width-1-2@s uk-grid-match blog" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/vanessa-belapatino.jpeg">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-margin-remove-bottom">Análisis del impacto del coronavirus en el actividad económica del Perú</h4>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Vanessa Belapatiño</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Specialist Research</p>
                            <p class="uk-text-meta uk-margin-remove-top">vanessa.belapatino@bbva.com</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>La información de alta frecuencia, como la que ofrecen los datos internos del banco, es un recurso valioso para el seguimiento constante de la actividad económica, aún más en un contexto donde los indicadores oficiales se publican con meses de retraso. Estos nuevos datos nos permiten evaluar cómo se desempeña la economía del país frente al COVID-19, y, reduce la incertidumbre sobre el nuevo comportamiento de los agentes económicos.   </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/17YrP6HyX5D7RQmY9SzY272nQvy5lwWNgA8e4mYLcMZo/edit?usp=sharing" class="uk-button uk-button-text" id="aa-ed1-1" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/jean-pierre.png">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-margin-remove-bottom">Reducción del riesgo anticipada en los modelos de Machine Learning </h4>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Jean Pierre Perez</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Riesgos</p>
                            <p class="uk-text-meta uk-margin-remove-top">jean.perez@bbva.com</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>Una forma de reducir el riesgo de los modelos machine learning en el banco es realizando un seguimiento constante. En este post se explicará como lo vienen realizando el área de Riesgos BBVA en Perú desde hace más de un año .</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1hRdPfeG-vNe8hO7cZ1t-I9zBsg7YUY9-9_NFa2AiCyw/edit?usp=sharing" class="uk-button uk-button-text" id="aa-ed1-2" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/yuri-lingan.jpg">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-margin-remove-bottom">Maximizando la rentabilidad a través de valores mínimos</h4>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Yuri Lingan</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finanzas</p>
                            <p class="uk-text-meta uk-margin-remove-top">yuri.lingan@bbva.com </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>En el marco del Proyecto Profitability & Pricing; como parte de la CoE de Finanzas; recibimos el encargo de realizar un análisis a la performance actual del Portfolio de la Banca Empresa. Tengamos en cuenta que bajo lineamiento Holding; a partir de este año 2020, el banco está apuntando a una Gestión de Rentabilidad, basado en Umbrales Mínimos, con los cuales garantizamos que la nueva producción; contribuya a alcanzar el RORC Objetivo, haciendo un uso óptimo de Capital.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1Y57ksGFunBPq4O8hN45YIbgrttzflp-RuNPv-LbCoLg/edit?usp=sharing" class="uk-button uk-button-text" id="aa-ed1-3" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/dayana huamani.jpeg">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-margin-remove-bottom">Cómo anticiparnos a las cancelaciones de PLD a través de modelos analíticos</h4>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Dayana Huamaní</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Client Solutions</p>
                            <p class="uk-text-meta uk-margin-remove-top">lizeth.huamani@bbva.com</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>
                        Las cancelaciones anticipadas de PLD (préstamos libre de disposición) que realizan los clientes tienen diferentes motivos, uno de los más comunes es generado por la compra de deuda de otra entidad, el cual conlleva a perder saldo del cliente y muchas veces la continuidad de la relación Cliente - Banco.
                        Por ello, en conjunto con el negocio se desarrolló un "modelo analítico de fuga PLD" que nos permite identificar a clientes más propensos a cancelar un PLD por compra de deuda de otra entidad financiera hacia el bbva.
                        Por último, con este modelo se crearon estrategias alineadas a retener el mayor volumen en saldo y disminuir el ratio de fuga.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1fK1UK-3wlSelNv0SGUSkcyUEuM7svx8Ru_3uMMqQxFw/edit?usp=sharing" class="uk-button uk-button-text" id="aa-ed1-5" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/antony-escobar.jpeg">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-margin-remove-bottom">Para monitoreos urgentes, soluciones rápidas con Data Studio</h4>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Antony Escobbar</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finanzas</p>
                            <p class="uk-text-meta uk-margin-remove-top">antony.escobar@bbva.com </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>Para disponibilizar el monitoreo de los Umbrales de Rentabilidad; en manos del cliente interno; trabajamos en tiempo récord, Dashboards en DataStudio, que muestran información actualizada diariamente. Con ello obtenemos un seguimiento térmico a las operaciones de nueva producción para la Banca Empresa y además, la visualización de las métricas principales de Rentabilidad a nivel Cliente.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1ygA0dFXHvA1lODgAuzbPbSCjFy2o8RHlppEOC3Wytc4/edit?usp=sharing" class="uk-button uk-button-text" id="aa-ed1-4" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>


        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/maria alejandra huamani.jpeg">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-margin-remove-bottom">Soluciones analíticas DIY para los BPs - Transformación Data Driven T&C</h4>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Maria Alejandra Huamaní</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Discipline Advanced Analytics</p>
                            <p class="uk-text-meta uk-margin-remove-top">maria.huamani@bbva.com</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>Desde la Disciplina de Advanced Analytics en T&C hemos puesto foco en la transformación data driven de nuestra área, 
                        buscando en cada acción ser socios estratégicos de nuestros colaboradores​. Uno de los factores claves para lograr ello es que los BPs
                        puedan tener la información correcta en el momento indicado, es por ello que se ha elaborado una diversidad de dashboards donde puedan consultar
                        información de interés de los diferentes colectivos. Los invito a leer más de esta iniciativa.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1IhJkfDzw4f-g8UOGgc1MtEv9-Z2eQW0o1RP4qquIc1A/edit?usp=sharing" class="uk-button uk-button-text" id="aa-ed1-6" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>
    </div>

</body>