<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Footer -->
    <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>

        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card-body" style="background-color: transparent;">
                    
                </div>
            </div>
            <div>
                <div class="uk-card-body" style="background-color: transparent; border-style: dotted; margin-top: 25px;">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOip1E3-_QApudsaEke-uywK-Piod0O-9Wim2RsFJ48_yLzA/viewform" style="text-decoration: none; padding-top: 50px;" id="fb-ed1-1" target="_blank">
                        <h3 id="fifth-section-title">Valoramos tu opinión</h3>
                        <h3 id="fifth-section-title">Comparte tu feedback</h3>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-card-body" style="background-color: transparent;">
                </div>
            </div>
        </div>
        <!--
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body uk-text-center" id="fifth-section">
                <div class="uk-align-center uk-text-center" style="padding-top: 22px;">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOip1E3-_QApudsaEke-uywK-Piod0O-9Wim2RsFJ48_yLzA/viewform" style="text-decoration: none;" id="fb-ed1-1">
                        <h3 id="fifth-section-title">Valoramos su opinión</h3>
                        <h3 id="fifth-section-title">Enviamos feedback</h3>
                    </a>
                </div>
            </div>
        -->
    </div>
</body>
