<head>
    <!-- Import local styles-->
    <link rel="stylesheet" href="css/aa.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="fourth-section">
                <h3 id="fourth-section-title">Reconocimiento</h3>
            </div>
            <div class="uk-width-expand blog" uk-grid style="padding-top: 45px; width: 100% !important;">
                "Comprometidos con la comunidad!" es un espacio donde queremos reconocer a nuestros compañeros que han destacado en las diferentes comunidades de Data. Además, de celebrar los "Cumpleaños y Aniversarios".
            </div>
        </div>
    </div>
    


    <div class="uk-child-width-1-2@s uk-grid-match blog" id="DGparentDiv" uk-grid>
        <div>
            <div style="text-align: center; ">
                <div class="uk-card uk-card-default uk-card-body" id="fourth-subsection">
                    <p id="fourth-subsection-title" style="font-weight: 300; color:#525252;">Comprometidos con la comunidad!</p>
                </div>
            </div>

            <div style="text-align: center; padding-bottom: 80px;">
                <a class="uk-button uk-button-default" href="#modal-full-1" style="background-color: #ff93b8;" id="birthday-button" uk-toggle>
                    Mira quines han sido reconocidos!
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                    </div>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                    </div>
                </a>
                <div id="modal-full-1" class="uk-modal-full" uk-modal>
                    <div class="uk-modal-dialog" style="background-color: white; height: 100vh;">
                        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>

                        <div class="uk-child-width-1-3@s uk-grid-small uk-grid-match uk-text-center" uk-grid style="background-color: white;">
                            <div style="padding-top: 20px;">
                                <h4 style="padding: 0; margin: 0;">Advanced Analytics</h4>
                                <h4 style="padding: 0; margin: 0;">CoP Highlights</h4>
                                <!--<p style="font-size:x-small">Reconocimiento a los data scientist con mayor participación en la comunidad en el último mes. Esto se medirá a través de la space career</p>-->
                                <ul class="uk-list uk-list-divider">
                                    <li style="font-size: 14px;">Jimmy Salazar</li>
                                    <li style="font-size: 14px;">Keven Fernandez </li>
                                    <li style="font-size: 14px;">Yuri Lingan </li>
                                    <li style="font-size: 14px;">Jean Pierre Pérez </li>
                                    <li style="font-size: 14px;">Omar Huamaní </li>
                                </ul>
                            </div>
                            <div style="padding-top: 20px;">
                                <h4 style="padding: 0; margin: 0;">Data Governance</h4>
                                <h4 style="padding: 0; margin: 0;">CoP Highlights</h4>
                                <!--<p style="font-size:x-small">Reconocimiento a los miembros de la comunidad de data governance con mayor participación en la comunidad en el último mes. Esto se medirá a través de la participación en los proyectos o iniciativas internas donde se requiera la colaboración del equipo de gobierno.</p>-->
                                <ul class="uk-list uk-list-divider">
                                    <li style="font-size: 14px;">Jimmy Salazar</li>
                                    <li style="font-size: 14px;">Keven Fernandez </li>
                                    <li style="font-size: 14px;">Yuri Lingan </li>
                                    <li style="font-size: 14px;">Jean Pierre Pérez </li>
                                    <li style="font-size: 14px;">Omar Huamaní </li>
                                </ul>
                            </div>
                            <div style="padding-top: 20px;">
                                <h4 style="padding: 0; margin: 0;"> Data </h4>
                                <h4 style="padding: 0; margin: 0;"> Highlights</h4>
                                <!--<p style="font-size:x-small">Reconocimiento a los miembros del equipo de data (Datahub, DPM y Arquitectura) que haya destacado por su apoyo a las comunidades de Advanced Analtics y/o Data Governnance. Esto se medirá a través de la participación en los distintos proyectos o iniciativas internas de los dominios</p>-->
                                <ul class="uk-list uk-list-divider">
                                    <li style="font-size: 14px;">Jimmy Salazar</li>
                                    <li style="font-size: 14px;">Keven Fernandez </li>
                                    <li style="font-size: 14px;">Yuri Lingan </li>
                                    <li style="font-size: 14px;">Jean Pierre Pérez </li>
                                    <li style="font-size: 14px;">Omar Huamaní </li>
                                </ul>
                            </div>
                        
                        </div>
                    </div>
                    




                </div>
            </div>        
        </div>
        <div>
            <div style="text-align: center; padding-bottom: 20px;">
                <div class="uk-card uk-card-default uk-card-body" id="fourth-subsection">
                    <p id="fourth-subsection-title" style="font-weight: 300; color:#525252;">Cumpleaños y Aniversarios de Junio!</p>
                </div>
            </div>

            <script> 
                $(function(){
                    $("#birhday").load("birthday.html"); 
                });
            </script> 
            <div id="birhday"></div>
        </div>
    </div>