<head>
    <!-- Import local styles-->
    <link rel="stylesheet" href="css/aa.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- First Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="first-section">
                <h3 id="first-section-title">Advanced Analytics</h3>
            </div>
        </div>
    </div>

     <!-- First Section Description Cards -->
        <!-- First Section 1 info -->

    <div class="uk-child-width-1-2@s uk-grid-match blog" id="AAparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/vanessa-belapatino.jpeg">
                        </div>
                        <div class="uk-width-expand">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Marlo Miranda</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Risk</p>
                            <p class="uk-text-meta uk-margin-remove-top">marlo.miranda@bbva.com </p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Análisis del impacto del coronavirus en el actividad económica del Perú</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">La información de alta frecuencia, como la que ofrecen los datos internos del banco, es un recurso valioso para el seguimiento constante de la actividad económica, aún más en un contexto donde los indicadores oficiales se publican con meses de retraso. Estos nuevos datos nos permiten evaluar cómo se desempeña la economía del país frente al COVID-19, y, reduce la incertidumbre sobre el nuevo comportamiento de los agentes económicos.   </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1FJSV-c-4WyBr5w_E5VfJzlaE4i9QS5SnFWLoKlPCPxo/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed1-1" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/vanessa-belapatino.jpeg">
                        </div>
                        <div class="uk-width-expand">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Adrián Mendoza</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Specialist CS</p>
                            <p class="uk-text-meta uk-margin-remove-top">adrian.mendoza.medrano@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Análisis del impacto del coronavirus en el actividad económica del Perú</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">Una forma de reducir el riesgo de los modelos machine learning en el banco es realizando un seguimiento constante. En este post se explicará como lo vienen realizando el área de Riesgos BBVA en Perú desde hace más de un año .</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/16Y2J14KEYyrqv_ziDTRlFvFDQM-mT5pYsb-neACfSQU/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed1-2" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/yuri-lingan.jpg">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-margin-remove-bottom">Maximizando la rentabilidad a través de valores mínimos</h4>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Marcelo Arakaki </p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finanzas</p>
                            <p class="uk-text-meta uk-margin-remove-top">yuri.lingan@bbva.com </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>En el marco del Proyecto Profitability & Pricing; como parte de la CoE de Finanzas; recibimos el encargo de realizar un análisis a la performance actual del Portfolio de la Banca Empresa. Tengamos en cuenta que bajo lineamiento Holding; a partir de este año 2020, el banco está apuntando a una Gestión de Rentabilidad, basado en Umbrales Mínimos, con los cuales garantizamos que la nueva producción; contribuya a alcanzar el RORC Objetivo, haciendo un uso óptimo de Capital.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1hfLeftk_Gvmv2aB0_akd_MGf-XDD8DZGazPSbKbOgjE/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed1-3" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/dayana huamani.jpeg">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-margin-remove-bottom">Cómo anticiparnos a las cancelaciones de PLD a través de modelos analíticos</h4>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Finanzas </p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finance</p>
                            <p class="uk-text-meta uk-margin-remove-top">finanzas@bbva.com</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>
                        Las cancelaciones anticipadas de PLD (préstamos libre de disposición) que realizan los clientes tienen diferentes motivos, uno de los más comunes es generado por la compra de deuda de otra entidad, el cual conlleva a perder saldo del cliente y muchas veces la continuidad de la relación Cliente - Banco.
                        Por ello, en conjunto con el negocio se desarrolló un "modelo analítico de fuga PLD" que nos permite identificar a clientes más propensos a cancelar un PLD por compra de deuda de otra entidad financiera hacia el bbva.
                        Por último, con este modelo se crearon estrategias alineadas a retener el mayor volumen en saldo y disminuir el ratio de fuga.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1fK1UK-3wlSelNv0SGUSkcyUEuM7svx8Ru_3uMMqQxFw/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed1-5" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

    </div>
    <script>
        function checkWidth(){
            var w = window.innerWidth
            var h = window.innerHeight
            
            if (w<920){
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")
                            
                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else{
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function(){
            checkWidth();
        })
        window.addEventListener("resize", function(){
            checkWidth();
        });
       
    </script>

</body>