<head>
    <!-- Import local styles-->
    <link rel="stylesheet" href="css/aa.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
     <!-- Second Section Description Banner -->
     <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="second-section">
                <h3 id="second-section-title">Data Governance</h3>
            </div>
        </div>
    </div>

     <!-- Second Section Description Cards -->
     <div class="uk-child-width-1-2@s uk-grid-match blog" id="DGparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/vanessa-belapatino.jpeg">
                        </div>
                        <div class="uk-width-expand">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Vilcapoma</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">javier.vilcapoma@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Análisis del impacto del coronavirus en el actividad económica del Perú</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">La información de alta frecuencia, como la que ofrecen los datos internos del banco, es un recurso valioso para el seguimiento constante de la actividad económica, aún más en un contexto donde los indicadores oficiales se publican con meses de retraso. Estos nuevos datos nos permiten evaluar cómo se desempeña la economía del país frente al COVID-19, y, reduce la incertidumbre sobre el nuevo comportamiento de los agentes económicos.   </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1ADFKANfKm_iixOa_OGJ_LM18WHaV6mOiG7mXJMnvZjE/edit?usp=sharing" class="uk-button uk-button-text buttonDG" id="aa-ed1-1" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/vanessa-belapatino.jpeg">
                        </div>
                        <div class="uk-width-expand">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Tony Pichardo</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Specialist Risk</p>
                            <p class="uk-text-meta uk-margin-remove-top">tpichardo@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Análisis del impacto del coronavirus en el actividad económica del Perú</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">Una forma de reducir el riesgo de los modelos machine learning en el banco es realizando un seguimiento constante. En este post se explicará como lo vienen realizando el área de Riesgos BBVA en Perú desde hace más de un año .</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1orY7RrxpJFgZeMWomMKzCNkA2Bl6gc__eHZc3Kdd5xs/edit?usp=sharing" class="uk-button uk-button-text buttonDG" id="aa-ed1-2" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>
     </div>
    <script>
         function checkWidthDG(){
            var w = window.innerWidth
            var h = window.innerHeight
            
            if (w<920){
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")
                            
                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else{
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function(){
            checkWidthDG();
        })
        window.addEventListener("resize", function(){
            checkWidthDG();
        });        
    </script>

        
</body>