<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <section class="principal-banner">  
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card-body" style="background-color: transparent;">
                    <img src="img/BBVA_RGB_Blanco.png" width="100px" alt="" style="padding-bottom: 20px;">
                    <br>
                    <a href="https://platform.bbva.com/en-us/disciplines-governance/communities/advanced-analytics/index.html#/" style="text-decoration: none;" target="_blank" class="communityLogo">
                        
                            <img src="img/LOGO_luigi.png" width="75px" alt="" style="background: #ededed;" class="communityLogo">
                        
                    </a>
                    <a href="https://teamspaces.bbva.com/teamspaces/data-governance-cop/overview" style="text-decoration: none;" target="_blank">
                        <img src="img/governance_logo.png" width="80px" alt="" style="background: #ededed;" class="communityLogo">
                    </a>
                    <br>
                    <a href="https://prensabbva.s3.amazonaws.com/2020/NewsletterAdvanceAnalytics/N17/NEWSLETTER_AA_17_SP.html" style="text-decoration: none;" target="_blank" id="news-global">
                        <button class="uk-button uk-button-primary uk-button-large" style="margin-top: 10px; font-size: 10px;" id="buttonAA">Newsletter Advanced Analytics Global</button>
                    </a>
                </div>
                
            </div>
            <div id="parentHeader">
                <div id = "header" class="uk-card-body">
                    <p id="title-header">Newsletter Data Perú</p>
                    <p style="color: white; padding:0;">Edición 2</p>
                    <p style="color: gray; padding:0;">#DataDrivenBBVA</p>
                </div>
            </div>
            <div class="hiddenStyle" id="hiddenDiv">
                <div class="uk-card-body" style="background-color: transparent;">
                </div>
            </div>
        </div>
        </div>
    </section>
    <script>
        function checkWidthH(){
            var w = window.innerWidth
            var h = window.innerHeight
            if (w<870){
                document.getElementById("buttonAA").innerHTML = "News Global";
                var hiddenDiv = document.getElementById("hiddenDiv")
                hiddenDiv.classList.add("hiddenStyle")
                hiddenDiv.classList.remove("showStyle")
            }
            else if(w < 1250){
                document.getElementById("buttonAA").innerHTML = "Newsletter AA Global";
                var hiddenDiv = document.getElementById("hiddenDiv")
                hiddenDiv.classList.add("showStyle")
                hiddenDiv.classList.remove("hiddenStyle")
            }
            else{
                document.getElementById("buttonAA").innerHTML = "Newsletter Advanced Analytics Global";
                var hiddenDiv = document.getElementById("hiddenDiv")
                hiddenDiv.classList.add("showStyle")
                hiddenDiv.classList.remove("hiddenStyle")
            }
        }
        $(document).ready(function(){
            checkWidthH();
        })
        window.addEventListener("resize", function(){
            checkWidthH();
        });

    </script>    
</body>
